<!DOCTYPE html>
<html >
<head>
   
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class= "contener">
    
      
        <div class = "LogoText">
            <p>
                <span class="DogName"> <strong>Dogs </strong></span>do speak, but only to those who know how to listen
            </p>
        </div>
         {{!-- <img src="/img/moti_One.jpg" > --}}

    </div>
{{!-- photos --}}
    <div class = 'Galeary'>
        <div class="blockImg">
            <img src="/img/img_4.jpg" alt="">
        </div>        
        <div class="Description">
           <h2>Name :-  <span class="disc"> Glou</span></h2>
           <h2>Age :- <span class="disc">1 year old</span></h2>
           <h2>Smartness :- <span class="disc">Not Really</span></h2>

        </div>        
    </div>

    <div class = 'Galeary'>
       <div class="Description">
            <h2>Name :-  <span class="disc"> Jimmy</span></h2>
           <h2>Age :- <span class="disc">2 year old</span></h2>
           <h2>Smartness :- <span class="disc">Really Not</span></h2>
        </div>           
        <div class="blockImg">
            <img src="/img/jimmi.jpg" alt="">
        </div>        
    </div>

    <div class = 'Galeary'>
      <div class="blockImg">
            <img src="/img/Dolly.jpg" alt="">
        </div>

       <div class="Description">
            <h2>Name :-  <span class="disc"> Dolly</span></h2>
           <h2>Age :- <span class="disc">1.5 year old</span></h2>
           <h2>Smartness :- <span class="disc">High</span></h2>
        </div>           
                
    </div>

    <div class = 'Galeary'>
       <div class="Description">
            <h2>Name :-  <span class="disc"> Moti</span></h2>
           <h2>Age :- <span class="disc">7 year old</span></h2>
           <h2>Smartness :- <span class="disc">100%</span></h2>
        </div>           
        <div class="blockImg">
            <img src="/img/img_1.jpg" alt="">
        </div>        
    </div>
{{!-- video --}}
    <div class="video">

    </div>
    
    <footer>
        <p>@all rights reserve RushikeshBhnabdare.. </p>
    </footer>
</body>
</html>